### 1.a.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df_raw = pd.read_excel('Mall_Customers.xlsx', index_col=0)
df_raw.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
1    Male   19                  15                      39
2    Male   21                  15                      81
3  Female   20                  16                       6
4  Female   23                  16                      77
5  Female   31                  17                      39